
    
  <mat-toolbar style="background-color: whitesmoke;">
    <button mat-button color="accent" routerLink="">Home</button> 
    <button mat-button color="accent" routerLink="mat-button">Buttons</button> 
    <button mat-button color="primary" routerLink="practice">Practice</button> 
    <span class="example-spacer"></span>
    <button mat-stroked-button color="primary">Contact Us</button> <br>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary">Login</button>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar> 
<router-outlet></router-outlet>