<!-- <header>
        <h1>CSS Columns</h1>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo praesentium cum vitae repellendus, facilis possimus consequuntur ea rerum harum, rem est mollitia animi quo fugiat asperiores minima assumenda dolorum tempora?</p>
        <p>Laboriosam cumque reiciendis atque suscipit qui accusamus quasi autem dolores molestias ex, iure odit omnis perferendis eveniet obcaecati at inventore? Qui nesciunt recusandae, rem quas mollitia repellendus. Iure sequi, fugiat.</p>
        <section>
            <h2>sub heading with lots of words</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, deserunt quia corrupti nam at qui ad, itaque error laborum ipsa repellendus magni deleniti eius dolores porro sit quaerat? Libero, quos.</p>
            <p>Vitae rem id nihil praesentium optio debitis repudiandae. Itaque amet debitis dolor minima blanditiis nam accusamus nostrum nesciunt ipsam. Necessitatibus ipsum aspernatur veritatis expedita laudantium voluptates illo, sit tempore quisquam.</p>
        </section>
    </main>     -->









     <header>
        <h1>CSS Grid</h1>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nemo odit eaque natus in, facilis earum delectus dolorum aperiam, eos obcaecati debitis cumque a voluptatibus! Facilis doloremque hic, possimus illum?</p>
        <p>Officiis voluptates voluptatem adipisci totam unde quisquam sequi vero ipsum earum error quasi nam id est, neque reiciendis recusandae asperiores accusantium repellat, ab debitis obcaecati sapiente. Odio sapiente repellat vel.</p>
        <p>Obcaecati asperiores nemo delectus numquam repellendus nam excepturi tenetur dignissimos officiis sapiente aspernatur consequatur reprehenderit, molestias earum, vel cumque. Cum quasi hic, accusantium. Eos mollitia, libero repudiandae ipsum consectetur. Quae!</p>
        <p>Aliquid laboriosam illum sint. Vel dolor recusandae accusantium, possimus, fugit distinctio, earum eum pariatur necessitatibus quod minima molestiae rem fugiat voluptate! Nisi eaque nobis, voluptatem eligendi et voluptas consequuntur asperiores?</p>
    </main>    
    <footer>
        <p>&copy; 2018 Turkey Stuff Inc.</p>
    </footer>