 <section class="one">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis voluptatem illum. Facilis, at, veniam! Ipsa maxime doloribus consequuntur inventore praesentium dolor!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi odit esse dolores illo ratione tempore porro reprehenderit dolor sequi tempora debitis.</p>
        <p>Small amount of text.</p>
        <span>INLINE</span>
        <br/>
        <span>INLINE-BLOCK</span>
    </section>
    
    <section class="two">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt asperiores eaque, incidunt necessitatibus recusandae soluta repellat delectus voluptatem.</p>
        <p>flex</p>
        <p>Iure est pariatur porro, error alias atque. Repudiandae eaque nobis deserunt numquam, impedit beatae fugiat quis, officia voluptates aliquam culpa neque eos.</p>
        <p>flex</p>
    </section>
    
    <section class="three">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit mollitia accusamus, consequuntur rerum iste necessitatibus eaque. Sit rerum quibusdam in consequatur nostrum neque suscipit necessitatibus cumque possimus doloremque, dolor, deleniti?</p>
        <p>grid</p>
        <p>Officia, error cumque, quod expedita voluptatem corporis quidem cupiditate odio quis explicabo recusandae. Ducimus facere voluptatem quasi eligendi deleniti nihil adipisci eos illo modi ipsum ullam corporis laudantium, consequuntur tempore.</p>
        <p>grid</p>
    </section>