  <header>
        <h1>CSS Grid Uneven Columns</h1>
    </header>
    <main class="content">
            <div class="third A">
                <h2>Ad Placement</h2>
            </div>
            <div class="third B">
                <h2>Ad Placement</h2>
            </div>
            <div class="third C">
                <h2>Ad Placement</h2>
            </div>
            <div class="half D">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati explicabo cumque fugiat quam quaerat mollitia atque, possimus, totam illo soluta delectus quae officia, vel magnam ipsum sequi ut fuga.</p>
            </div>
            <div class="half E">
                <p>Facilis voluptatum officia error quo omnis explicabo nihil natus atque praesentium optio a, harum ratione nemo voluptatibus placeat, illo non laboriosam assumenda nulla aspernatur! Vel reiciendis amet placeat, ab repellat?</p>
            </div>
    </main>    
    <footer>
        <p>&copy; 2018 Turkey Stuff Inc.</p>
    </footer>